*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
    font-family: montserrat;
    overflow-x: hidden;
}

/**
DEBUT
HEADER
**/
nav{
    background-color: palevioletred;
    height: 90px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fdf1f3;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
}

a.active,a:hover{
    font-size: 25px;
}
/**
FIN
HEADER
**/

/**
DEBUT
CONTENUE
**/
marquee{
    color: palevioletred;
    
}

.paragraphe{
    text-align: center;
    display: flex;
    
}

.paragraphe p{
    text-align: center;
    font-size: 20px;
    padding: 150px;
    color: black;
}

.paragraphe img{
    width: 800px;
    height: 400px;
}
/**
FIN
CONTENUE
**/



/**
DEBUT 
FOOTER
**/
.bonjour{
    width: 100%;
    color: #fff;
    text-align: center;
}
.bonjour a{
    text-decoration: none;
}
.bonjour i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: palevioletred;
    border-radius: 50%;
    border: 3px solid grey;
    transition: 0.3s;
}

.bonjour i:hover{
    background: white;
}

footer{
    bottom: 0px;
    width: 100%;
    background: #fdf1f3;
    padding: 10px 0;
}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2{
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase;
    color: palevioletred;
    padding: 10px 0;
}

.footer-bottom {
    padding: 10px;
    background-color: #3d545f;
    color: #fff;
    font-size: 12px;
}

.content a{
    color: black;

}
.content a:hover{
    color: palevioletred;
}
/**
FIN
FOOTER
**/